<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <div class="page-header">
        <h1>CovidProjects</h1>
        <h2>Edit project</h2>
        <%= link_to '< Back to project list', projects_path, class: "info-text" %>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <p>Only the creator of the project can edit it. You will need to enter the creator email at the end before submitting.</p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

  <%= render 'form' %>
</div>