body {
  font-family: "AvenirNext", "open sans", Helvetica, Arial, sans-serif;
  color: $greyish-brown;
}

.row {
  padding: 10px 0;
}

.page-header {
  padding-top: 50px;
}

button {
  width: 108px;
  height: 41px;
  border-radius: 8px;
  background-color: $tealish;
}

.button--primary {
  width: 108px;
  height: 41px;
  border-radius: 8px;
  background-color: $tealish;
  @extend p;
  color: white;
  border: none;
}

input {
  border-radius: 8px;
  border: solid 1px $brown-grey;
}

.input-error {
  border: solid 2px $burnt-orange;
}

label {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.form-error-info {
  color: $burnt-orange;
}